<?xml version="1.0" encoding="UTF-8"?>
<!--

 /**
  * © Copyright IBM Corporation 2014.  
  * This is licensed under the following license.
  * The Eclipse Public 1.0 License (http://www.eclipse.org/legal/epl-v10.html)
  * U.S. Government Users Restricted Rights:  Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp. 
  */

-->
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="com.urbancode.plugin.7zip" name="7zip" version="2"/>
    <description>
Plugin which provides a step to extract 7zip archives.
	  </description>
    <tag>System Utility/7zip</tag>
  </header>
  <step-type name="Extract archive">
    <description>Extract 7zip archive</description>
    <properties>
      <property name="dirOffset">
        <property-ui type="textBox"
                     label="Directory Offset"
                     description="The directory offset relative to the current working directory where the step should run."/>
      </property>
      <property name="include" required="true">
        <property-ui type="textAreaBox"
                     label="Include Files"
                     default-value="**/*"
                     description="A new line separated list of file filters for files to include."/>
      </property>
      <property name="exclude">
        <property-ui type="textAreaBox"
                     label="Exclude Files"
                     description="A new line separated list of file filters for files to exclude."/>
      </property>
      <property name="targetDir" required="true">
        <property-ui type="textBox"
                     label="Extract Directory"
                     description="The directory where the archives should be extracted."/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp" />
      <arg path="classes:lib/*" />
      <arg file="extract.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
</plugin>
